/* App.css */
body {
  font-family: Arial, sans-serif;
  background-image: url('../src/image.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 50px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center; 
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 100px;
  max-width: 700px;
  width: 90%;
  margin-top: 20px;
  }


nav {
  width: 74%;
  display: flex;
  flex-direction: column;
  background-color:#ff0061;
  color: #ffffff;
  padding: 20px;
  border-radius: 8px;
margin-left: 100px;
margin-right: 100px; 
text-align: center;
 margin-bottom: 20px;
  transition: background-color 0.7s;
 
}
nav:hover {
  background-color: #ca155a;
}

nav h1 {
  margin: 0;
  font-size: 24px;
  
}


form {
  display: flex;
  flex-direction: column;
}

input[type="text"],
input[type="number"],
input[type="date"] {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}
button {
  padding: 10px;
  background-color: #ff0061;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #ca155a;
}

ul {
  list-style-type: none;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: grey;
  font-weight: 900;
  font-size: 25px;
  padding: 10px;
  background-color: rgb(21, 202, 193, 0.3);
  border-radius: 5px;
  
}

li {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 2px solid #ddd;
 

}

li:last-child {
  border-bottom: none;
}

li button {
  background-color: #98000e;
  font-weight: 700;

  padding: 5px 15px;
  font-size: 14px;
  border-radius: 4px;
}

li button:hover {
  background-color: #c82333;
}

.balance-container {
text-align: center;
font-weight: 900;
font-size: 20px;

}
.balance-container h3{
  font-weight: 100;

}
.container-dates {
  display: flex;
  flex-direction: row;
  gap: 10px;
  
}
.container-income{
  padding: 20px;
  background-color: rgba(120, 64, 94, 0.2);
  border-radius: 10px;
  color: green;
  
}
.container-balance{
  padding: 20px;
  background-color: rgba(120, 64, 94, 0.2);
  border-radius: 10px;
  color: black;
  
}
.container-expense{
  padding: 20px;
  background-color: rgba(120, 64, 94, 0.2);
  border-radius: 10px;
  color: #ca155a;
  
}

@media (max-width: 768px) {
  /* Mobile Styles */
  body {
    margin: 20px;
  }

  .container {
    padding: 30px;
    margin-top: 10px;
    
  }

  

  nav {
    margin-left: 20px;
    margin-right: 20px;
    padding: 25px;
   
  }

  nav h1 {
    font-size: 18px;
  }

  input[type="text"],
  input[type="number"],
  input[type="date"],
  button {
    font-size: 14px;
    padding: 8px;
  }

  ul {
    font-size: 18px;
  }

  .balance-container {
    font-size: 18px;
  }

  .container-dates {
    flex-direction: column;
    gap: 5px;
  }
}
